.HomeView {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  background-image: url("../Images/10808.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
